/*-----------------------------------*\
            #about
\*-----------------------------------*/
.section about-section border-top-g{
    padding: 100px ;
    position: relative; 
} 

.container {
    /* width: 100%; */
padding-right: 100px;
padding-left: 100px;
margin-right: auto;
margin-left: auto;
}

.row align-items-start {
    /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0; */
    display: flex;
    display: row;
    flex-wrap: wrap;
    align-items: start;
    /* margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2); */
    }

.setion .border-top-g {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    left: 0;
    right: 0;
    max-width: 1290px;
    margin: 0 auto;
    background: #fff;
    opacity: 0.1;
}

@media (min-width: 768px) {
    .about-section .sticky-md-top {
        top: 120px;
    }
}

@media (min-width: 768px) {
    .sticky-md-top {
        position: sticky;
        z-index: 1020;
    }
}

@media (min-width: 768px) {
    .col-md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}



/* .row align-items-start {

--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
align-items: start;
margin-top: calc(var(--bs-gutter-y)* -1);
margin-right: calc(var(--bs-gutter-x) / -2);
margin-left: calc(var(--bs-gutter-x) / -2);
} */



.col-md-5 {
     margin: 25px;
    position: sticky;
    top: 100px; 
    z-index: 1020px; 
 width: fit-content;
 
}

 .nav social-icons justify-content-center{
     display: inline-flex;
    justify-content: center;

    
  } 

  .about-section .about-img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}


.about-img{
    width: auto;
    height: auto;
    background-color: black;
}

.about-section .about-img-box .social-icons {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.about-section .about-img-box .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 3px;
    background: #12c2e9;
    background-size: 150%;
    background-position: center;
    position: relative;
    transition: ease all 0.35s;
    color: #fff;
    border: 1px solid #fff;
}


a {
        color: #12c2e9;
        text-decoration: none;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


